<div class="p-3 my-1">
  <h6 class="my-3" style="color: #777777">Top Tags</h6>
  <hr/>

  <div *ngFor="let tag of tags" class="p-2 my-1 d-flex flex-row align-items-center" style="background-color: #f9f9f9;">
    <basic-tag [tag]="tag"></basic-tag>
    <div class="ml-3 d-flex align-items-center">
      <small style="color: #777777;">count</small> <span class="lead ml-2" style="color: #555555;"> {{tag.count | formatNum }}</span>
    </div>
    <div class="ml-3 d-flex align-items-center">
      <small style="color: #777777;">score</small> <span class="lead ml-2" style="color: #555555;"> {{tag.score | formatNum }}</span>
    </div>
  </div>

  <div class="my-3 float-md-right">
    <a style="font-size: 11pt; color: #7c8cb5;" [routerLink]="['../activity/tags']">View more</a>
  </div>
</div>
