<div class="container" style="max-width: 400px;">

  <h5>Change Password</h5>

  <hr>

  <form [formGroup]="changePasswordForm">
    <div class="form-group">
      <label for="passwordCurrent">Current Password</label>
      <input class="form-control" type="password" id="passwordCurrent" formControlName="passwordCurrent"
             [(ngModel)]="updatePasswordData.passwordCurrent" required>
      <div>
        <small *ngIf="changePasswordForm.controls.passwordCurrent.hasError('required') && changePasswordForm.controls.passwordCurrent.dirty" class="text-info">
          Password must not be empty
        </small>
      </div>
      <div>
        <small *ngIf="changePasswordForm.controls.passwordCurrent.hasError('minlength') && changePasswordForm.controls.passwordCurrent.dirty" class="text-info">
          Password must be at least 8 characters
        </small>
      </div>
      <div>
        <small *ngIf="changePasswordForm.controls.passwordCurrent.hasError('maxlength') && changePasswordForm.controls.passwordCurrent.dirty" class="text-info">
          Password must be under 20 characters
        </small>
      </div>
      <div>
        <small *ngIf="changePasswordForm.controls.passwordCurrent.hasError('pattern') && changePasswordForm.controls.passwordCurrent.dirty" class="text-info">
          Password must contain at least one lower case, upper case, and 1 digit
        </small>
      </div>
    </div>
    <div class="form-group">
      <label for="password">New Password</label>
      <input class="form-control" type="password" id="password" formControlName="password"
             [(ngModel)]="updatePasswordData.password" required>
      <div>
        <small *ngIf="changePasswordForm.controls.password.hasError('required') && changePasswordForm.controls.password.dirty" class="text-info">
          Password must not be empty
        </small>
      </div>
      <div>
        <small *ngIf="changePasswordForm.controls.password.hasError('minlength') && changePasswordForm.controls.password.dirty" class="text-info">
          Password must be at least 8 characters
        </small>
      </div>
      <div>
        <small *ngIf="changePasswordForm.controls.password.hasError('maxlength') && changePasswordForm.controls.password.dirty" class="text-info">
          Password must be under 20 characters
        </small>
      </div>
      <div>
        <small *ngIf="changePasswordForm.controls.password.hasError('pattern') && changePasswordForm.controls.password.dirty" class="text-info">
          Password must contain at least one lower case, upper case, and 1 digit
        </small>
      </div>
    </div>
    <div class="form-group">
      <label for="passwordConfirmation">Confirm Password</label>
      <input class="form-control" type="password" id="passwordConfirmation" formControlName="passwordConfirmation"
             [(ngModel)]="updatePasswordData.passwordConfirmation" required>
      <small *ngIf="changePasswordForm.controls.passwordConfirmation.hasError('required') && changePasswordForm.controls.passwordConfirmation.dirty" class="text-info">
        Password confirmation must not be empty
      </small>
      <small *ngIf="changePasswordForm.controls.passwordConfirmation.hasError('notEquivalent') && changePasswordForm.controls.passwordConfirmation.dirty" class="text-info">
        Password doesn't match
      </small>
    </div>

    <button id="profilePasswordBtn" type="button" class="btn btn-primary" [disabled]="!changePasswordForm.valid"  (click)="submitBtnClicked()">Submit</button>
  </form>

  <hr>

  <div *ngIf="!success">
    <p *ngFor="let error of errors">
      <ngb-alert [dismissible]="false">{{ error }}</ngb-alert>
    </p>
  </div>

  <div *ngIf="success">
    <ngb-alert [dismissible]="false" type="success">Password has been updated!</ngb-alert>
    <button class="btn btn-secondary" type="button" (click)="returnButtonClicked()">Go back</button>
  </div>

</div>
