//div {
//  border: 1px solid #dddddd;
//}

.editor {
  height: 400px;
  border: 1px solid #dddddd;
}

.input-header{
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-container {
  margin: 20px;
}

.tag-container {
  margin: 20px 20px 40px 20px;
}


.submit-button {
  color: #999;
  border: 1px solid #999;
  background-color: #ffffff;
}

.submit-button:hover {
  background-color: #fafafa;
  color: #777777;
}

.submit-button:disabled {
  background-color: #fafafa;
  color: #ccc;
  cursor: not-allowed;
  border: 1px solid #ccc;
}
