$vote_color: #7c8cb5;
$novote_color: lightgray;
$favorite_color: #FFFF33;
$nofavorite_color: lightgray;
$selected_color: #7ed0a3;
$noselected_color: lightgray;

$positive_score_color: #45a163;
$negative_score_color: maroon;

$main-font-color: #555;
$sub-font-color: #999;
