<style>
  a { cursor: pointer; }
</style>

<div class="row main-block" *ngIf="mainBlock">

  <ng-template #popContent>Upvote error</ng-template>

  <div class="col-md-1 d-flex flex-column justify-content-start align-items-center">
    <auth-modal (action)="upvote()">
      <alert-popover [placement]="'top'" #upvoteAlert>
        <i class="fa fa-angle-up fa-3x upvote-btn" aria-hidden="true" [ngClass]="isUpVoted() ? 'vote_arrow' : 'novote_arrow'"></i>
      </alert-popover>
    </auth-modal>
    <div class="vote-num" style="font-size: 20px; color: #777777;">{{ vote() | formatNum }}</div>
    <auth-modal (action)="downvote()">
      <alert-popover [placement]="'bottom'" #downvoteAlert>
        <i class="fa fa-angle-down fa-3x downvote-btn" aria-hidden="true" [ngClass]="isDownVoted() ? 'vote_arrow' : 'novote_arrow'"></i>
      </alert-popover>
    </auth-modal>
    <auth-modal (action)="favorite()">
      <i class="fa fa-star fa-2x favorite-btn" aria-hidden="true" [ngClass]="isFavorite() ? 'favorite_star' : 'nofavorite_star'"></i>
    </auth-modal>
    <small class="favorite-num" style="color: #777777;">{{ favoriteCount() | formatNum }}</small>
  </div>

  <div class="col-md-11 py-3">
    <div style="position: relative;">
      <div *ngIf="!mainBlock.closed" style="word-break:break-all;">
        <p [Marked]="mainBlock.content" class="marked"></p>
      </div>
      <div *ngIf="mainBlock.closed">
        <div *ngIf="!mainBlock.isOwner(auth)" class="p-5" style="word-break:break-all; text-align: center;">
          Content has been deleted by user
        </div>
        <div *ngIf="mainBlock.isOwner(auth)">
          <div style="word-break:break-all; text-align: center; background-color: lightgrey;">
            This post has been deleted
          </div>
          <div class="p-5" style="background-color: #EFEFEF">
            <p [Marked]="mainBlock.content" class="marked"></p>
          </div>
        </div>
      </div>
    </div>


    <div class="py-3 d-flex justify-content-start">
      <basic-tag *ngFor="let tag of tags" [tag]="tag"></basic-tag>
    </div>

    <div class="d-flex justify-content-between">

      <div *ngIf="mainBlock" class="d-flex justify-content-start align-items-start">
        <button type="button" class="btn btn-link" [disabled]="mainBlock.closed" *ngIf="mainBlock.isOwner(auth)" [routerLink]=" ['edit'] ">edit</button>
        <block-flag [disabled]="!auth || mainBlock.closed" [blockId]="mainBlock._id"></block-flag>
        <button type="button" class="btn btn-link" *ngIf="mainBlock.isOwner(auth)" (click)="close()">close</button>
      </div>
      <div class="d-flex justify-content-end">
        <div *ngIf="!mainBlock.closed && mainBlock.content_histories.length > 1">
          <a (click)="contentHistoryButtonClicked()"><small>last edited at <i>{{ mainBlock.content_histories[mainBlock.content_histories.length - 1].getCreatedAt() }}</i></small></a>
        </div>
        <basic-user-badge [block]="mainBlock"></basic-user-badge>
      </div>

    </div>

    <button type="button" class="exaka-basic-button" [class.active]="toggleCommentAdd" (click)="commentButtonClicked()">Add a comment</button>
    <div class="p-3">
      <comment-add *ngIf="toggleCommentAdd" [blockId]="mainBlock._id" [postId]="postId" (complete)="commentButtonClicked()"></comment-add>
    </div>

    <hr *ngIf="mainBlock.comments.length > 0">

    <block-comment *ngFor="let comment of mainBlock.comments" [comment]="comment"></block-comment>
  </div>

</div>





