<div class="container" style="display: flex; justify-content: center; margin-top: 50px;">

  <div class="col-md-8" style="border: 1px #d3d3d3 solid; padding: 30px;">
    <h5>Find your account</h5>

    <hr>

    <form [formGroup]="forgotPasswordForm" class="signup-form">
      <div class="form-group">
        <label for="email">Email</label>
        <input name="email" formControlName="email" type="email" class="form-control" id="email" placeholder="Email"
               [(ngModel)]="resetPasswordData.email" required>
        <div>
          <small *ngIf="forgotPasswordForm.controls.email.hasError('required') && forgotPasswordForm.controls.email.dirty" class="text-info">
            Email must not be empty
          </small>
        </div>
        <div>
          <small *ngIf="forgotPasswordForm.controls.email.hasError('pattern') && forgotPasswordForm.controls.email.dirty" class="text-info">
            Email must be in format some@domain.name
          </small>
        </div>
      </div>

      <button type="button" class="btn btn-primary" [disabled]="!forgotPasswordForm.valid"  (click)="forgotPasswordButtonClicked()">Submit</button>

      <hr>

      <div>
        <p *ngFor="let error of errors">
          <ngb-alert [dismissible]="false">{{ error }}</ngb-alert>
        </p>
      </div>

      <div *ngIf="success">
        <ngb-alert  [dismissible]="false" type="success">Password reset email has been sent</ngb-alert>
        <button type="button" class="btn btn-secondary" (click)="returnButtonClicked()">Return</button>
      </div>

      <a class="btn btn-secondary" [routerLink]=" ['../resetPassword'] ">Reset Password?</a>

    </form>
  </div>

</div>
