.change-picture-link {
  transition: background-color .3s ease;
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 120px;
  bottom: 0;
  background-color: rgba(12,13,14,0.6);
  color: #ffffff !important;
}
.change-picture-link:hover {
  background-color: black;
}

.my-drop-zone { border: dotted 3px lightgray; }
.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }
